@{
    ViewData["Title"] = "Job Post";
}

<h1 class="text-center">Job Post</h1>

<section>
    <header class="jobHeader">
        <h2>Job Post</h2>
        <input type="button" hidden id="saveForOffline" value="💾" aria-label="Save for Offline" />
        <input type="button" hidden  id="copyToClipboard" value="📋" aria-label="Cop Link to Clipbard" />
    </header>
</section>
<section>
    <h3>Job Description</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis ante leo, in tempus sem tincidunt luctus. Suspendisse tempus dictum eros sit amet porttitor. Phasellus efficitur ullamcorper laoreet. Suspendisse pretium sit amet ante eu posuere. Nulla in arcu a turpis condimentum posuere. Integer mauris diam, viverra a mauris sit amet, venenatis molestie lectus. Cras pharetra neque lectus, ut aliquam eros aliquam non. Integer quis tempor mi, nec porttitor leo. Fusce euismod placerat feugiat. Maecenas finibus eros tellus, quis volutpat quam rutrum at. Proin id rhoncus justo, et ultricies mi. Aenean convallis turpis velit, eu hendrerit mi fringilla eget. Ut vel placerat nisi. Phasellus tempor leo ligula, nec lacinia odio tincidunt vitae. Vivamus placerat ac erat ac efficitur. Suspendisse tortor tellus, gravida eu mauris in, imperdiet interdum ex.</p>
    <p>Praesent quis odio mauris. Pellentesque malesuada varius vulputate. Sed nec leo ac augue laoreet dignissim eget id mi. Fusce ut auctor tellus, vel pharetra ipsum. Etiam nec mauris sit amet massa fringilla viverra ut id purus. Maecenas dictum tortor non odio euismod tempus. Donec dictum enim sapien, at fringilla lacus luctus a. Nulla pretium ornare leo eget rutrum. Sed magna neque, ultricies sit amet leo a, volutpat imperdiet metus. Quisque quis ipsum dignissim, blandit eros eu, fermentum mauris. Pellentesque tempus nibh ligula, non aliquet ante mattis vitae.</p>
</section>
<dialog id="clipboardPerms">
    <h3>We would like to write to your clipboard</h3>
    <p>This is us asking to write to the clipboard</p>
</dialog>
